* {
    margin: 0px;
    padding: 0px;

}

.imagemfundo {
    background-image: url("./img/17af80c2ed61759c8a81ffa7b4915397.jpg");
    height: 370px;
}

.divTitulo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;

}

.titulo {
    color: aliceblue;
    font-size: 70px;
    margin-top: 80px;
    font-family: 'Asap', sans-serif;
}

.paragrafo {
    width: 55%;
    color: aliceblue;
    font-family: 'Asap', sans-serif;
    font-weight: lighter;
    font-size: 20px;
    text-align: center;
}

a {
    color: aliceblue;
    font-size: 20px;
    margin-top: 30px;
    font-family: 'Asap', sans-serif;
    text-decoration: none;
}

a:hover {
    color: brown;
}

.navPrincipal {
    display: flex;
    gap: 30px;
    margin-right: 55px;
    flex-direction: row;
    justify-content: end;

}

.seta {
    width: 48px;
    height: 28px;
}

.div1 {
    height: 150px;
    background-color: black;

}

.div2 {
    background-image: linear-gradient(black, #0E163B);
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

form {
    display: flex;
    justify-content: center;
    background-color: #0E163B;
    height: 500px;

}

.titulo {
    display: flex;
    justify-content: center;
}

.area {
    width: 500px;
    height: 250px;
    border-radius: 5px;
}

.areaTexto {
    color: aliceblue;
    font-size: 30px;
    font-family: 'Asap', sans-serif;
    text-align: center;
    width: 40%;
    height: 40%;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    padding-bottom: 50px;

}

textarea::placeholder {
    font-family: 'Asap', sans-serif;
    padding: 10px;
}

.selecionar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Asap', sans-serif;
    font-size: 20px;
    gap: 10px;
    color: aliceblue;

}

.selecionar label {
    cursor: pointer;
}

.radio {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid aliceblue;

}

.seletor {
    color: aliceblue;
    font-size: 20px;
    font-family: 'Asap', sans-serif;
    text-align: center;
    margin-bottom: 1em;

}

select {
    font-family: 'Asap', sans-serif;
    text-align: center;
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.desloca {
    display: none;
}

.inputDeslocamento {
    font-family: 'Asap', sans-serif;
    text-align: center;
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.desloca label {
    color: aliceblue;
    font-size: 20px;
    font-family: 'Asap', sans-serif;
    text-align: center;
    padding-right: 10px;
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#idbotao {
    font-family: 'Asap', sans-serif;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    border: 3px solid aliceblue;
    cursor: pointer;
}

.sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #dcdff096;
}

.subTitulo {
    font-family: 'Asap', sans-serif;
    text-align: center;
    padding-top: 20px;
    font-size: 40px;
}

.explicacao {
    font-size: medium;
    font-family: 'Asap', sans-serif;
    text-align: justify;
    border: solid 5px #1a296d;
    display: flex;
    flex-direction: row;
    gap: 10%;
    margin: 5% 10%;
    padding: 5%;

}

footer {
    color: aliceblue;
    background-color: #0E163B;
    padding-top: 1em;
    padding-bottom: 1em;
    height: 50px;
    text-align: center;
    font-family: 'Asap', sans-serif;
}

span {
    color: #0E163B;
    font-size: 30px;
    font-weight: bolder;

}